.wrapper{
    max-width: 1110px;
    margin: 0 auto;
}
.body__project__content {
    display: flex;
    justify-content: space-between;
}
.project__title {
    display: flex;
    align-items: center;
}
.loger{
    padding-right: 40px;
}
.titler{
    font-size: 30px;
    font-family: Oswald;
}


/* ----------------------------------------- */
.arrow-6 {
    margin:20px;
}
.arrow-6 svg {
    width: 50px;
    height: auto;
    cursor: pointer;
    overflow: visible;
}
.arrow-6 svg polygon, 
.arrow-6 svg path {
    transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
    fill: #337AB7;
}
.arrow-6 svg:hover polygon, 
.arrow-6 svg:hover path {
    transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
    fill: #000;
}
.arrow-6 svg:hover .arrow-6-pl {
    animation: arrow-6-anim 1s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}
.arrow-6 svg:hover .arrow-6-pl-fixed {
    animation: arrow-6-fixed-anim 1s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}
.arrow-6 svg:active path {
    fill: white;
}
.project__slider {
    display: flex;
    color: black;
}
.project__slider a{
    color: black;
}
.slide {
    width: 540px;
    height: 400px;

    background-image: url("../img/body/slede1.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    margin-right: 30px ;
}
.slide__sqare{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 250px;
    height: 110px;
    background-color: white;
}
.slide__sqare h1{
    font-size: 18px;
    font-family: Oswald;
    margin: 16px;
}
.slide__sqare p{
    font-size: 14px;
    font-family: Open Sans;
    margin: 16px;
    margin-top: 0px;
}
.slide_two {
    width: 540px;
    height: 400px;

    background-image: url("../img/body/slede2.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    margin-right: 30px ;
}
 
@keyframes arrow-6-anim {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    5% {
        transform: translateX(-0.1rem);
    }
    100% {
        transform: translateX(1rem);
        opacity: 0;
    }
}
@keyframes arrow-6-fixed-anim {
    5% {
        opacity: 0;
    }
    20% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
/* ----------------------------------------- */

.body__catalog {
    padding-top: 150px;
}
.catalog__title {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
}
.catalog__categories {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.categories__button{
    font-size: 24px;
    font-family: Oswald;
    
    margin-right: 50px;
    background-color: transparent;
}
.categories__button:hover{
    color: rgba(0, 91, 193, 1);
    text-decoration: underline;
    text-underline-offset: 5px;

}
.subcategories {
    display: flex;
    justify-content: space-between;
}
.subcategories__sqare{
    border: 2px solid rgba(0, 91, 193, 1);
    background-image: url("../img/body/item1.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 350px;
    height: 300px;
    
}
.subcategories__sqare_second{
    border: 2px solid rgba(0, 91, 193, 1);
    background-image: url("../img/body/item2.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 350px;
    height: 300px;
}
.subcategories__sqare_therd{
    border: 5px solid rgba(0, 91, 193, 1);
    background-image: url("../img/body/item3.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 350px;
    height: 300px;
}
.subcategories__sqare_sqare {
    position: absolute;
    background-color: rgba(0, 91, 193, 1);
    bottom: 10px;
    right: 0px;
    width: 265px;
    height: 86px;
}
.subcategories__sqare_sqare p{
    font-size: 18px;
    font-family:  Oswald;
    letter-spacing: 2px;
    color: white;

    padding: 20px 15px;
}

/* ---------------------RENT------------------------- */
.body__rent{
    padding-top: 150px;
}
.rent__title{
    display: flex;
    align-items: center;
}
.rent__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 40px;
}
.rent__content__about__text{
    width: 350px;
    height: auto;
}
.rent__content__about__text_text {
    font-size: 18px;
    font-family: Open Sans;
}
.rent__content__about_divice {
    border: 5px #337AB7 solid;
}
.about_divice__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about_device__title__new {
    font-size: 18px;
    letter-spacing: 1px;
    font-family: Oswald;
}
.about_divice__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about_divice__content__img img{
    width: 255px;
    height: 250px;
}
.about_divice__content__description h2{
    font-size: 16px;
    letter-spacing: 1px;
    font-family: Oswald;
    padding-bottom: 30px;
}
.about_divice__content__description li{
    font-size: 14px;
    font-family: Open Sans;
}