.wrapper{
    max-width: 1110px;
    margin: 0 auto;
}
.body__projects {
}
.body__projects__content {
    display: flex;
    justify-content: space-between;
}
.project__title {
    display: flex;
    align-items: center;
}
.project__title__logo {
    padding-right: 40px;
}
.project__title__title {
    font-size: 30px;
    font-family: Oswald;
}


/* ----------------------------------------- */
.arrow-6 {
    margin:20px;
}
.arrow-6 svg {
    width: 50px;
    height: auto;
    cursor: pointer;
    overflow: visible;
}
.arrow-6 svg polygon, 
.arrow-6 svg path {
    transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
    fill: #337AB7;
}
.arrow-6 svg:hover polygon, 
.arrow-6 svg:hover path {
    transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
    fill: #000;
}
.arrow-6 svg:hover .arrow-6-pl {
    animation: arrow-6-anim 1s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}
.arrow-6 svg:hover .arrow-6-pl-fixed {
    animation: arrow-6-fixed-anim 1s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}
.arrow-6 svg:active path {
    fill: white;
}
.project__slider {
    display: flex;
}
.slide {
    width: 540px;
    height: 400px;

    background-image: url("/img/body/slede1.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    margin-right: 30px ;
}
.slide__sqare{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 250px;
    height: 110px;
    background-color: white;
}
.slide__sqare h1{
    font-size: 18px;
    font-family: Oswald;
    margin: 16px;
}
.slide__sqare p{
    font-size: 14px;
    margin: 16px;
    margin-top: 0px;
}
.slide_two {
    width: 540px;
    height: 400px;

    background-image: url("/img/body/slede2.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    margin-right: 30px ;
}
 
@keyframes arrow-6-anim {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    5% {
        transform: translateX(-0.1rem);
    }
    100% {
        transform: translateX(1rem);
        opacity: 0;
    }
}
@keyframes arrow-6-fixed-anim {
    5% {
        opacity: 0;
    }
    20% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
/* ----------------------------------------- */

.body__catalog {
    padding-top: 150px;
}
.body__catalog__content {
}
.catalog__title {
    display: flex;
    align-items: center;
}
.project__title__logo {
}
.project__title__title {
}
.catalog__categories {
    display: flex;
    justify-content: center;
}
.categories__button{
    
}